body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

p{
  display:inline;
}

footer {
  text-align: right;
  color: midnightblue;
  clear:left;
}
.left{
  float:left;

}
.right{
  float:left;
}
.tile-image{
  margin-right:10px;
  float:left;
  width:200px;
}
/* .card{
} */
/* .tile-imageLeft{
  width:40%;
float:left;
}
.tile-imageRight{
  float:left;
  width:40%;

} */

.card{ 
  display:inline-block;
  width:50%;
}
@media(max-width:680px){
  .card{display:block;
    width:100%;
    margin-bottom:20px;
  
  }
 footer{
  text-align:center;
 }
 .tile-image{
  width:300px;
 }
 .card > img{
  margin:0;
margin-left :30px;}

h2{
  text-align:center;
}
}
